html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background-image:
        url("https://i.pinimg.com/1200x/ab/1c/a8/ab1ca834e5439aad79f37abd6cd30311.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
